/* mini-reset */
*, *::before, *::after {box-sizing:border-box}
html, body {padding:0; margin:0}
body {min-height:100%}

/* HEADER with drop-shadow on scroll */
header {
  height: 72px;  /* 64 + 16px */
  position: sticky;
  -webkit-position: sticky;
  /* negative top allows for 16 pixels of movement before sticking */
  top: -16px; 
  /* make sure header overlaps main*/
  z-index: 1;
  color: white;
  text-align: center;
  /* fix weird flickering issue in chrome: https://stackoverflow.com/a/22224884/286685 */
  -webkit-backface-visibility: hidden;
}

/* PSEUDO ELEMENTS to create drop-shadow */
header::before,
header::after {
  content: '';
  display: block;
  height: 16px;
  /* make pseudo elements sticky as well */
  position: sticky;
  -webkit-position: sticky;
}

/* SHADOW */
header::before {
  top: 36px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
  box-shadow: 0px 1px 8px rgba(0,0,0, 0.5);
}

/* COVER */
header::after {
  /* linear gradient from background color to transparent acts as
     a transition effect so the shadow appears gradually */
  background: linear-gradient(white 10%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.4) 70%, transparent);
  top: 0;
  /* cover should fall over shadow */
  z-index: 2;
}

/* HEADER CONTENT */
header >nav {
  background: rgb(255, 255, 255);
  height: 56px;
  /* padding: 20px; */
  position: sticky;
  -webkit-position: sticky;
  top: 0px;
  /* compensate for shadow with negative margin */
  margin-top: -16px;
  /* content should fall over shadow and cover */
  z-index: 99;
  width: 100%;
  top: 0;
  z-index: 99;
  color: #1d1e20;
  align-items: center;
}


body{
    margin:0;
    /* font-size: 1rem; */
    font-family: 'DM Sans', sans-serif;
    color: #2f1c6a;
    /* font-size: 100%; */
    /* letter-spacing: 0.6px; */
}



.menu-wrapper{
    height: 100%;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
   
   
}
.logo-wrapper{
    height: 24px;
    display: flex;
    align-items: center;
  
    
}
.h-icon-dark{
    height: 100%;
    position: relative;
    left:-14px;
    
}
/* for desktop */
.language{
    display: flex;
    align-items: center;
    height:24px;
    width: 97px;
    font-weight: 700;
    justify-content: space-between;
    margin-left: 24px;
    cursor: pointer;
}
.language img {
    width: 32px;
    height: 20px;
}
.lt-lang {
    padding-left: 4px;
}
.nav-wrapper{
    display:flex;
    align-items: center;
    gap:28px;
    
}
.nav-wrapper ul, li, a{
    all:unset;
    font-weight: 500;
    color:#1d1e20
}
.nav-wrapper a{
    cursor: pointer;
    
}
.nav-wrapper a:hover{
    color:#595c63
}
.nav-wrapper button:hover{
    color:#595c63
}
.nav-wrapper ul{
    display: flex;
    align-items: center;
    gap:28px;
}
.hosting{
    display: flex;
    align-items: center;
    width: fit-content;
}
.log-in{
    all:unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 2px solid #1d1e20;
    border-radius: 4px;
    padding: 12px 16px;
    color: #1d1e20;
    font-weight: 700;

}
/* end of desktop nav */
.burger-button{
    all:unset;
    height: 100%;
    font-size: 1.6rem;

}
main{
    width: 100%;
    height: 900px;
    
}
.banner-wrapper{
    grid-template-columns: 1fr;
    -moz-column-gap: 16px;
    column-gap: 16px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 36px;
    width: 100%;
    margin-top: 0;
}
h1{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    
}
.banner-wrapper span{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-bottom: 16px;
    color: #2f1c6a;
    
    
}
.banner-wrapper p{
    margin:0;
    text-align: center;
}
.flex-banner {
    display: flex;
    flex-direction: column;
}
/* upper banner section start */
.upper-banner{
    margin-right:16px;
    margin-left: 16px;
    margin-bottom: 32px;
    padding-bottom: 0;
}
.price-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.price-container{
    display: flex;
}
.numbers{
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    text-align: center;

}
.eur-month{
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}
.euro{
    display: flex;
    font-size: 20px;
    line-height: 34px;
    margin-left: 4px;
    align-items: center;
}
.month{
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 34px;

}
.banner-wrapper h2{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    box-sizing: border-box;
}
.counter-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 16px;
}
.counter-container{
    display: flex;
    align-items: center;

}
.counter-container span{
    font-size: 18px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
}

.timer-cube{
    border: 1px solid #2f1c6a;
    align-items: center;
    border-radius: 6px;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    height: 64px;
    justify-content: center;
    width: 64px;
}

                    
.choose-button{

    background-color: #673de6;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    min-height: 48px;
    padding: 12px 16px;
    position: relative;
    box-shadow: 0 1px 8px rgba(0,0,0,.16);
    width: 291px;
    margin: auto;
    font-family: "DM Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}
.guarantee-wrapper {
    display: flex;
    justify-content: center;
    gap:3px;
    color: #6a44db;
    height: 24px;
    align-items: baseline;
    
}
/* upper banner end */
.lower-banner img{
    overflow: hidden;
    width: 100%;
}
.guarantee-span{
    margin-bottom: 0!important;
}

.trust-offer{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}
.trust {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trust-title{
    font-size: 27px;
    height:40px;
    display: flex;
    align-items: baseline;
}
.trust-title img{
    width: 120px;
    height: 30px;
    align-self: flex-end;
}
.trust-stars {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.cube{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 1px;
    background-color: #00b67a;
    font-size: 26px;
}
.green-grey {
    background: linear-gradient(to right,#00b67a 0%,#00b67a 50%,#dcdce6 50%,#dcdce6 100%);
}
.score {
    margin-top: 6px;
}
.score .bold{
    font-weight: 800;
}
/* from 992 px */
@media (min-width: 992px){
    header {
        height: 106px;
    }
    header::before {
        top: 70px; 
    }
    header >nav {
        height: 90px;
    }
    .burger-button{
        display: none;
    }
    .banner-wrapper{
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        max-width: 100%;
        padding-top:76px;
        padding-bottom: 96px;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .menu-wrapper{
        height: 88px;
        padding: 20px 40px 20px 40px;
    }
    .logo-wrapper{
        height: 48px;
            
        
    }
    .h-icon-dark{
        left: 0px;
        cursor: pointer;
}
    .flex-banner {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content:space-evenly;
        gap:150px;
        margin-left: 30px;
        margin-right: 30px;
}
    .upper-banner{
        width: 40%;
        align-items: start;
        display: flex;
        flex-direction: column;
    }
    .lower-banner{
        /* max-width: 616px; */
        height: 100%;
        width: 100%;
    }
    .upper-banner h1{
        font-size: 36px;
        text-align: start;
        line-height: 40px;
    }
    .choose-button{
        margin-left:0
    }
    .banner-wrapper p{
        text-align: start;
    }
 }

  
    
        

/* up to 992px */
@media (max-width: 992px){
    .nav-wrapper, .language{
        display: none;
    }
        
}